packages:

  yum:
    curl: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_npm_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      cd $EB_APP_STAGING_DIR

      npm install

commands:

  get_nodejs:
    command: "curl --silent --location https://rpm.nodesource.com/setup_4.x | bash -"

  get_selenium:
    command: |
      if [ ! -e selenium-server-standalone-2.53.1.jar ]; then
        \wget "http://selenium-release.storage.googleapis.com/2.53/selenium-server-standalone-2.53.1.jar"
      fi
    cwd: "/root"

container_commands:

  01-config-copy:
    command: "cp .ebextensions/selenium-server.conf /etc/init/"

  02-start-selenium:
    command: |
      /sbin/initctl start selenium-server
      if [ $? != 0  ]; then
       \/sbin/initctl restart selenium-server
      fi

  03-install-nodejs:
    command: "yum -y install nodejs npm"
