# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:

  10-cp-config:
    command: "cp -f ./environment/conf.demo.php ./environment/conf.php"

  11-set-runtime-permission:
    command: "chmod 777 -R ./runtime"

  12-install-composer:
    command: "cd ./src/ && curl -sS https://getcomposer.org/installer | php"

  13-delete-composer-cache:
    command: "rm -Rf ~/.composer/*"

  14-composer-set-token:
    command: "cd ./src/ && php ./composer.phar config --global github-oauth.github.com 524460f858bf7ee291b0fb0e817fc5d81bb02c98"

  15-composer-global-require:
    command: "cd ./src/ && php ./composer.phar global require fxp/composer-asset-plugin:~1.1.1 --no-plugins"

  16-install-composer:
    command: "cd ./src/ && php ./composer.phar install"

  17-flash-schema-cache:
    command: "cd ./src/ && php ./yii cache/flush-schema --interactive=0"

  18-put-swift-mime-header:
    command: "cp -f ./.ebextensions/MailboxHeader.php ./vendor/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/"