@charset "utf-8";
body {
  color: #666666;
  background: #ffffff;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}
.body_bggray {
  background: #f0f0f0;
}
.ico_unread {
  background: #b02321;
  color: #ffffff;
  font-size: 1.0rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.0em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.head_mail .ico_unread {
  position: absolute;
  top: 0px;
  right: 0px;
}
.menu_list .ico_unread {
  position: absolute;
  top: 10px;
  left: 25px;
}
.btn_red a {
  display: block;
  background-color: #b02321;
  color: #ffffff;
  border-radius: 5px;
}
.btn_common a {
  text-align: center;
  font-size: 1.6rem;
  padding: 12px 0;
}
.btn_login a {
  background: url(../img/ico_login_white.png) no-repeat 10px center #b02321;
  background-size: 20px auto;
  text-align: center;
  font-size: 1.6rem;
  padding: 12px 0;
}
.btn_next a {
  background: url(../img/ico_next_white.png) no-repeat 10px center #b02321;
  background-size: 20px auto;
  text-align: center;
  font-size: 1.6rem;
  padding: 12px 0;
}
.btn_plus a {
  background: url(../img/ico_plus_white.png) no-repeat 10px center #b02321;
  background-size: 20px auto;
  text-align: center;
  font-size: 1.6rem;
  padding: 12px 0;
}
.btn_contact a {
  background: url(../img/ico_contact.png) no-repeat 15px 10px #b02321;
  background-size: 32px auto;
  text-align: center;
  font-size: 1.6rem;
  padding: 12px 0;
}
.main_box {
  padding: 0 10px;
}
.h_box {
  background: #858585;
  position: relative;
  text-align: center;
  margin: 0 0 20px;
}
.h_box p {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 0;
}
.h_box .btn_back {
  position: absolute;
  top: -10px;
  left: 0px;
}
.h_box .btn_back a {
  display: block;
  padding: 12px 30px 8px 10px;
}
.h_box .btn_back img {
  width: 10px;
  height: auto;
}
.h_input {
  color: #666666;
  font-weight: bold;
  font-size: 1.6rem
}
.input_style {
  color:#8c8c8c;
  border: 1px solid #dddddd;
  font-size: 1.8rem;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
}
.input_style_noborder {
  color:#8c8c8c;
  font-size: 1.8rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
}
.textarea_style {
  color:#8c8c8c;
  border: 1px solid #dddddd;
  font-size: 1.4rem;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
}
.checkbox_style {
  border: 1px solid #dddddd;
}
label {
  font-size:1.4rem;
}
.conf_text {
  color:#8c8c8c;
  font-size:1.6rem;
  margin:5px 0 0 0;
}
.read_box {
  line-height:1.8em;
  margin:0 0 50px;
}
.read_box h2 {
  font-weight:bold;
  font-size:1.4rem;
  color:#7ca445;
  border-bottom:1px solid #7ca445;
  padding:0 0 10px;
  margin:0 0 10px;
}
.read_box h3 {
  font-weight:bold;
  font-size:1.2rem;
  margin:0 0 5px;
}
.read_box p {
  margin:0 0 20px;
  font-size:1.2rem;
}
/*----TEXT----*/
.text_red {
  color:#b02321;
}
.text_s {
  font-size:1.2rem;
  line-height:1.6em;
} 
/*----header----*/
header {
  position: relative;
  background: #ffffff;
}
.pollet_rogo {
  text-align: center;
  padding: 15px 0;
}
.pollet_rogo img {
  width: 60px;
  height: auto;
}
.head_mail {
  position: absolute;
  right: 5px;
  top: 5px;
}
.ico_head_mail img {
  width: 24px;
  height: auto;
  margin: 10px 14px 0 0;
}
/*----Menu----*/
.menu_box {
  border-top: 1px solid #f0f0f0;
  padding: 0 10px;
  background: #ffffff;
}
.menu_list li a {
  display: block;
  padding: 20px 0 20px 50px;
  font-size: 1.4rem;
  border-bottom: 1px solid #dddddd;
  color: #666666;
}
.menu_details a {
  background: url(../img/ico_details.png) no-repeat 12px center;
  background-size: auto 23px;
}
.menu_point a {
  background: url(../img/ico_point.png) no-repeat 11px center;
  background-size: auto 25px;
}
.menu_charge a {
  background: url(../img/ico_charge.png) no-repeat 8px center;
  background-size: auto 28px;
}
.menu_guide a {
  background: url(../img/ico_guide.png) no-repeat 10px center;
  background-size: auto 25px;
}
.menu_setting a {
  background: url(../img/ico_setting.png) no-repeat 9px center;
  background-size: auto 27px;
}
.menu_mail a {
  background: url(../img/ico_mail.png) no-repeat 9px center;
  background-size: auto 18px;
  position: relative;
}
.menu_logout a {
  background: url(../img/ico_logout.png) no-repeat 10px center;
  background-size: auto 25px;
}
/*----index.html----*/
.card_box {
  margin: 0px 10px 20px;
  height: 225px;
  position: relative;
}
.card_box_inner {
  padding: 0 0 20px
}
.after_activating .card_box {
  background: url(../img/bgt_card.png) no-repeat left top;
  background-size: 100% auto;
}
.after_activating .card_box_inner {
  background: url(../img/bgb_card.png) no-repeat left bottom;
  background-size: 100% auto;
}
.before_activating .card_box {
  background: url(../img/bgt_card_gray.png) no-repeat left top;
  background-size: 100% auto;
}
.before_activating .card_box_inner {
  background: url(../img/bgb_card_gray.png) no-repeat left bottom;
  background-size: 100% auto;
}
.graph {
  margin: 23px 0 0 15px;
  background: url(../img/bg_graph.png) no-repeat 5px 5px;
  background-size: 95% auto;
}
.balance_box {
  position: absolute;
  top: 79px;
  left: 63px;
  font-size: 1.0rem;
  width: 90px;
}
.balance_price {
  text-align: right;
}
.balance_price span {
  font-size: 2.2rem;
  font-weight: bold;
}
.btn_reload a {
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #666666;
  text-align: center;
  display: block;
}
.card_btn_box {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  font-size: 1.4rem;
  line-height: 2em;
}
.start_box {
  background: url(../img/bg_start.png) no-repeat 35px 20px;
  background-size: 70px auto;
  margin: 40px 0 0 0;
}
.make_box {
  background: url(../img/bg_make.png) no-repeat 32px 20px;
  background-size: 70px auto;
  margin: 40px 0 0 0;
}
.btn_charge a {
  background-image: url(../img/ico_plus_white.png);
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 20px auto;
  padding: 13px 0 13px 40px;
  margin: 90px 10px 0 0;
}
.btn_before a {
  padding: 3px 0;
  text-align: center;
  margin: 90px 10px 0 0;
  font-size: 1.6rem;
}
.site_box {
  background: #f0f0f0;
  padding: 10px;
}
.btn_until_card a {
  border: 1px solid #d3d3d3;
  display: block;
  background-color: #ffffff;
  color: #666666;
  border-radius: 5px;
  font-size: 1.6rem;
  text-align: center;
  padding: 15px 0;
}
.btn_until_card span {
  background: url(../img/arrw_gray_m.png) no-repeat right 3px;
  background-size: 8px auto;
  padding: 0 20px 0 0;
}
.site_add {
  width: 92%;
  position: relative;
  margin: 30px 0 30px 20px;
}
.site_add div.site_add_inner {
  padding: 0 0 0 10px;
}
.site_add div.site_rogo_img {
  width: inherit;
  height: 50px;
}
.site_add img {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto 0;
}
.site_add_text {
  margin: 15px 0 0 0;
  color: #666666;
  font-size: 1.0rem;
}
.site_add_price {
  color: #b02321;
  font-size: 1.2rem;
}
.site_add_price span {
  font-size: 1.6rem;
}
button {
  width: auto;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
}
.slick-prev {
  position: absolute;
  left: -20px;
  top: 0px;
  background: url(../img/ico_back.png) no-repeat left center;
  background-size: 18px auto;
  width: 18px;
  height: 18px;
  padding: 53px 0;
  z-index: 99;
}
.slick-next {
  position: absolute;
  right: -10px;
  top: 0px;
  background: url(../img/ico_next.png) no-repeat right center;
  background-size: 18px auto;
  width: 18px;
  height: 18px;
  padding: 53px 0;
  z-index: 98;
}
/*----start.html----*/
.img_top_main {
  text-align: center;
  margin: 15px 0 40px;
}
.img_top_main img {
  width: 260px;
  height: auto;
}
.btn_login_red a {
  background: url(../img/ico_login_red.png) no-repeat left center;
  background-size: 20px auto;
  color: #b02321;
  font-weight: bold;
  font-size: 1.8rem;
  width: 140px;
  padding: 5px 0 5px 25px;
}
/*----card_comp.html----*/
.img_card_comp img {
  width:170px;
  height:auto;
  margin:50px 0 70px;
}
.text_card_comp {
  text-align:center;
  font-size:1.6rem;
}
/*----point_site.html----*/
.point_site_name {
  text-align:center;
  font-size:2.0rem;
  font-weight:bold;
  margin:30px 0 0 0;
}
.point_site_rogo {
  text-align:center;
  margin:60px 0;
}
.point_site_rogo img {
  width:100px;
  height:auto;
}
.point_site_text_box {
  background:#ffffff;
  border-radius:5px;
  padding:25px;
  font-size:1.2rem;
  line-height:1.8em;
  margin:0 0 40px;
}
/*----charge.html----*/
.charge_balance_box {
  background:#ffffff;
  border-radius:5px;
  padding:18px 15px 13px;
  margin:40px 0 40px;
}
.charge_balance_text {
  font-weight:bold;
  font-size:1.6rem;
  float:left;
}
.charge_balance_price {
  font-size:1.4rem;
  float:right;
}
.charge_balance_price span {
  font-weight:bold;
  font-size:2.2rem;
}
.charge_price_box {
  background: url(../img/ico_plus_red.png) no-repeat 10px center #ffffff;
  background-size: 20px auto;
  border: 1px solid #dddddd;
  text-align:right;
  padding:6px 10px;
  margin:0 0 10px;
  font-size:1.6rem;
}
.charge_price_box input {
  width:80%;
  text-align:right;
}
.btn_charge_price {
  width:111px;
  float:left;
  margin:0 10px 0 0;
}
.btn_charge_price:last-child {
  width:112px;
  margin:0px;
}
.btn_charge_price a {
  background: url(../img/ico_plus_white.png) no-repeat 12px center #b02321;
  background-size: 15px auto;
  font-size:1.6rem;
  padding:10px 10px 10px 36px;
}
.charge_details_box {
  background:#ffffff;
  border: 1px solid #dddddd;
  padding:10px 10px;
  margin:0 0 10px;
  font-size:1.6rem;
}
.charge_details_box .charge_details_text {
  float:left;
  font-weight:bold;
}
.charge_details_box .charge_details_price {
  float:right;
}
.charge_total_box {
  background:#ffffff;
  border: 1px solid #b02321;
  border-radius:5px;
  padding:18px 10px 16px;
  margin:50px 0 20px;
  font-size:1.6rem;
}
.charge_total_text {
  float:left;
  font-weight:bold;
  margin:5px 0 0 0;
}
.charge_total_price {
  float:right;
}
.charge_total_price span {
  font-size:2.4rem;
  font-weight:bold;
  margin: 0 8px 0 0;
}
.fancybox-custom .fancybox-outer {
  box-shadow: 0 0 50px #222;
}
.img_charg_site_rogo img {
  width:60px;
  height:auto;
}
.img_charg_pollet img {
  width:120px;
  height:auto;
}
.charg_price_comf_text {
  text-align:center;
  border: 1px solid #dddddd;
  padding:15px 10px;
  border-radius:5px;
  margin:40px 0 15px;
  font-size:1.6rem;
  font-weight:bold;
}
.charg_price_comf_text span {
  font-size:2.4rem;
}
/*----details.html----*/
.details_head {
  text-align:center;
  width:230px;
  margin:20px auto;
}
.details_head_text {
  font-size:1.4rem;
  float:left;
  width:170px;
}
.details_head_text span {
  font-size:2.0rem;
  font-weight:bold;
}
.details_head_arrw a {
  display:block;
}
.details_head_arrw img {
  width:10px;
  height:auto;
  margin:20px 10px;
}
.details_table {
  width:100%;
  background:#ffffff;
  margin:0 0 50px;
}
.details_table tr:nth-child(odd){
	background: #f0f0f0;
}
.details_table td.day_td {
  font-size:1.2rem;
  width:40px;
  text-align:right;
  vertical-align:middle;
  padding:0 10px 0 0;
}
.details_table td.shop_td {
  font-size:1.2rem;
  text-align:left;
  vertical-align:middle;
}
.details_table td.price_td {
  font-size:1.0rem;
  text-align:right;
  padding:0px 15px 0 10px;
  width:70px;
  height:50px;
  vertical-align:middle;
}
.details_table td.price_td span {
  font-size:1.4rem;
  font-weight:bold;
  text-align:left;
}
.details_table .charg_tr {
  color:#b02321;
  background:#fff5e1 !important;
}
/*----pollet_point.html----*/
.details_table td.point_td {
  font-size:1.2rem;
  font-weight:bold;
  text-align:right;
  padding:0px 15px 0 10px;
  width:70px;
  height:50px;
  vertical-align:middle;
}
.property_point_box {
  border:1px solid #b02321;
  border-radius:50px;
  padding:10px 40px;
  margin:0px auto 50px;
  width:220px;
}
.property_point_text {
  font-size:1.4rem;
  float:left;
  margin:6px 0 0 0;
}
.property_point_price {
  font-size:1.6rem;
  float:right;
  font-weight:bold;
  color:#b02321;
}
.property_point_price span {
  font-size:2.4rem;
}
/*----charge_means.html----*/
.charge_means_box {
  border:1px solid #dddddd;
  margin:0 0 18px 0;
  background: url(../img/bg_charge_means_box.png) no-repeat right center #ffffff;
  background-size:22px auto;
}
.charge_means_box a {
  padding:28px 10px 0px 0px;
  display:block;
  height:90px;
}
.charge_means_box:last-child {
  margin:0 0 50px;
}
.charge_means_rogo {
  float:left;
  width:100px;
  text-align:center;
}
.charge_means_rogo img {
  width:60px;
  height:auto;
}
.charge_means_text_box {
  float:left;
  width:230px;
}
.charge_means_text_box img {
  width:35px;
  height:auto;
  margin:0 15px;
}
.charge_means_sitename {
  font-size:1.6rem;
  font-weight:bold;
  color:#666666;
}
.charge_means_point_text {
  font-size:1.4rem;
  font-weight:bold;
  color:#666666;
  margin:10px 0 0 0;
}
.charge_means_point_text span {
  font-size:2.0rem;
}
.charge_means_fancybox .point_site_name {
  text-align:center;
  font-size:2.0rem;
  font-weight:bold;
  margin:5px 0 0 0;
}
.charge_means_fancybox .point_site_rogo {
  text-align:center;
  margin:25px 0;
}
.charge_means_fancybox .point_site_rogo img {
  width:auto;
  height:90px;
}
.charge_means_fancybox .fancybox_site_text_box {
  padding:0 5px;
  font-size:1.2rem;
  line-height:1.8em;
  margin:0 0 20px;
}
.charge_means_fancybox .property_point_box {
  padding:10px 20px;
  margin:0px auto 20px;
  width:200px;
}
.charge_means_fancybox .property_point_text {
  font-size:1.2rem;
  float:left;
  margin:6px 0 0 0;
}
.charge_means_fancybox .property_point_price {
  font-size:1.4rem;
}
.charge_means_fancybox .property_point_price span {
  font-size:1.8rem;
}
.ico_arrw_red {
  width:15px;
  height:auto;
  margin:0 5px;
  position:relative;
  top:-3px;
}
/*----guide.html----*/
.guide_box {
  border:1px solid #dddddd;
  background:#ffffff;
  margin:0 0 18px;
}
.guide_box:last-child {
  margin:0 0 50px;
}
.guide_box_link a {
  background: url(../img/ico_arrw_white.png) no-repeat 335px center #7ca445;
  background-size:10px auto;
  display:block;
  color:#ffffff;
  padding:10px;
  font-size:1.6rem;
  font-weight:bold;
}
.guide_box_text {
  padding:15px;
  font-size:1.2rem;
}
/*----contact_comp.html----*/
.contact_comp_h {
  color:#7ca445;
  font-size:2.0rem;
  font-weight:bold;
  text-align:center;
  margin:40px 0 0 0;
}
/*----setting.html----*/
.btn_setting {
  margin:0 0 8px;
}
.btn_setting:last-child {
  margin:0 0 50px;
}
.btn_setting a {
  display:block;
  border:1px solid #dddddd;
  padding:20px 15px;
  font-size:1.6rem;
  font-weight:bold;
  background: url(../img/arrw_gray_m.png) no-repeat 335px center #ffffff;
  background-size:8px auto;
  color:#666666;
}
.btn_01 span {
  background: url(../img/ico_setting01.png) no-repeat 1px center;
  background-size:18px auto;
  padding:5px 0 5px 30px;
}
.btn_02 span {
  background: url(../img/ico_setting02.png) no-repeat 0px center;
  background-size:22px auto;
  padding:5px 0 5px 30px;
}
.btn_03 span {
  background: url(../img/ico_setting03.png) no-repeat 1px center;
  background-size:18px auto;
  padding:5px 0 5px 30px;
}
/*----info_list.html----*/
.info_list_box dl {
  border-bottom:1px solid #dddddd;
  padding:20px;
}
.info_list_box dt {
  font-size:1.2rem;
}
.info_list_box dd {
  font-size:1.2rem;
  line-height:1.6em;
  font-weight:bold;
}
.info_list_box dd a {
  color:#666666;
}
.info_list_box dl:last-child {
  border-bottom:none;
  margin:0 0 30px;
}
.info_list_box .ico_unread {
  display:inline-block;
  position:relative;
  top:-4px;
  margin:0 0 0 2px;
}
/*----info_page.html----*/
.info_page_head {
  border-bottom:1px solid #dddddd;
  padding:20px 20px 30px;
  margin:0 0 30px;
}
.info_page_head p {
  font-size:1.2rem;
}
.info_page_head h1 {
  font-size:1.2rem;
  line-height:1.8em;
  font-weight:bold;
}
.info_page_box {
  padding:0 20px 50px;
}
.info_page_box p {
  font-size:1.2rem;
  line-height:1.8em;
  margin:0 0 20px;
}
/*----tutorial.html----*/
.tutorial_box {
  line-height:1.8em;
  margin:0 0 50px;
}
.tutorial_box h2 {
  font-weight:bold;
  font-size:1.4rem;
  color:#7ca445;
  border:1px solid #7ca445;
  padding:10px;
  margin:0 0 15px;
}
.tutorial_box_inner {
  margin:0 10px 50px;
}
.tutorial_box h3 {
  font-weight:bold;
  font-size:1.2rem;
  margin:0 0px 5px;
}
.tutorial_box p {
  margin:0 0px 20px;
  font-size:1.2rem;
}
.tutorial_box img {
  width:100%;
  height:auto;
}